html,
body {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  #section1 {
    min-height: 110vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #050208, rgb(107, 6, 90));
    display: flex;
    flex-direction: column;
  }
  #section1 .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    color: #fff;
    border: none;
    border-bottom: 2px solid purple;
    background-color: #050208;
    transition: 0.2s ease;
    border-radius: 0;
    height: 10vh !important;
    width: 100vw;
    z-index: 99;
    position: relative;
    align-items: center;
    padding: 0 0;
  }
  #section1 .navbar h1 {
    margin: 0;
    font-size: 30px;
    display: block;
    z-index: 99;
    width: 60vw;
  }
  #section1 .navbar #x {
    display: block;
    font-size: 30px;
  }
  #section1 .navbar #x:hover {
    cursor: pointer;
  }
  #section1 .navbar ul {
    position: absolute;
    top: 10vh; /* Position ul below the navbar border */
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 100vw;
    transition: 1s ease;
    height: 46vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: -10;
  }
  #section1 .navbar ul li {
    font-size: 30px;
    margin: 0 20px;
    display: block;
    border-bottom: 2px solid white;
  }
  #section1 .navbar ul li:last-child {
    margin-right: 20px;
  }
  #section1 .navbar ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
  }
  #section1 .navbar .contact-button {
    display: none;
  }
  #section1 .main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    z-index: 10;
    margin: 0 auto;
    padding-top: 70px;
    padding: 0;
  }
  #section1 .main-content .text-content {
    width: 90%;
    color: #fff;
    padding: 30% 4%;
  }
  #section1 .main-content .text-content h1 {
    font-size: 90px;
    margin-top: 60px;
    margin-bottom: 55px;
  }
  #section1 .main-content .text-content h3 {
    margin-top: -40px;
    font-size: 40px;
    color: #ddd5d5;
  }
  #section1 .main-content .text-content p {
    font-size: 26px;
    line-height: 1.6;
    border-left: 2px solid white;
    padding-left: 10px;
  }
  #section1 .main-content .image-content {
    position: relative;
    width: 98%;
    margin-top: 0%;
  }
  #section1 .main-content .image-content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    position: relative;
    z-index: 1;
  }
  #section1 .main-content .image-content .behind-image1,
  #section1 .main-content .image-content .behind-image2 {
    display: none;
  }
  #section1 .main-content .image-content .behind-image1 {
    right: -70px;
    bottom: -100px;
    transform: translateY(-25%);
    display: none;
  }
  #section1 .main-content .image-content .behind-image2 {
    left: -70px;
    top: 150px;
    transform: translateY(25%);
    display: none;
  }
  #skills-section {
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background: linear-gradient(to right, #050208, rgb(107, 6, 90));
  }
  #skills-section .line-container {
    width: 100%;
    height: 2px;
    background-color: black;
    top: 50%; /* Adjust as needed */
    left: 0;
    margin-bottom: 40px;
  }
  #skills-section .line-container .line {
    width: 0;
    height: 3px;
    background-color: wheat; /* Adjust line color */
    transition: width 0.3s ease; /* Smooth transition */
  }
  #skills-section .line-container-2 {
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: 20px;
  }
  #skills-section .line-container-2 .line-2 {
    width: 100%;
    height: 100%;
    background-color: wheat; /* Adjust line color */
    transition: width 0.3s ease; /* Smooth transition */
  }
  #skills-section .skills-header {
    width: 90%;
    display: flex;
    align-items: center;
  }
  #skills-section .skills-header h1 {
    display: inline;
    float: left;
    font-size: 60px;
    color: white;
  }
  #skills-section .skills-header .arrow {
    display: inline;
    margin-left: 5%;
    color: white;
    font-size: 70px;
  }
  #skills-section .skills-content {
    margin-top: 2%;
    width: 100%;
    height: 50%;
    padding: 0% 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #skills-section .skills-content .column {
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
  }
  #skills-section .skills-content .column .skill {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
  }
  #skills-section .skills-content .column .skill-name {
    display: inline;
    float: left;
    width: 40%;
    font-size: 22px;
    color: wheat;
    font-weight: bold;
  }
  #skills-section .skills-content .column .skill-level {
    display: inline;
    float: right;
    width: 60%;
    /* Define styles for circles */
    /* Style circles with the 'purple' class */
  }
  #skills-section .skills-content .column .skill-level .circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgb(81, 56, 81); /* Default color */
    display: inline-block;
  }
  #skills-section .skills-content .column .skill-level .circle.purple {
    background-color: rgb(225, 17, 225); /* Purple color */
  }
  #section-3 {
    height: 200vh;
    background: linear-gradient(to right, #050208, rgb(107, 6, 90));
  }
  #section-3 .grid-container {
    padding: 0% 0%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%;
    width: 100%;
    padding: 0 3%;
  }
  #section-3 .grid-container .grid {
    display: grid;
    grid-template-columns: repeat(1W, 1fr); /* Two columns */
    grid-auto-rows: 250px; /* Row height */
    grid-gap: 40px; /* Gap between grid items */
    height: 100%;
    width: 100%;
  }
  #section-3 .grid-container .grid .item {
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    overflow: hidden;
  }
  #section-3 .grid-container .grid .item img {
    width: 100%;
    height: 100%;
    transition: 0.4s ease;
  }
  #section-3 .grid-container .grid .item img:hover {
    transform: scale(1.2);
    filter: grayscale(100%);
  }
  #section-3 .grid-container .grid .item .overlay-text {
    width: 100%;
    height: 100%;
    background-color: red; /* Adjust background color and opacity as needed */
    color: white;
    text-align: center;
    transition: opacity 0.3s ease;
    z-index: 2;
    display: none;
  }
  #section-3 .grid-container .grid .item .item:hover .overlay-text {
    display: inline-block;
  }
}
@media (min-width: 1000px) {
  #section1 {
    height: 90vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #050208, rgb(107, 6, 90));
    padding: 3% 3%;
  }
  #section1 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: #fff;
    padding: 10px 40px;
    border: 2px solid purple;
    border-radius: 20px;
    background-color: #050208;
    transition: 0.2s ease;
  }
  #section1 .navbar #x {
    display: none;
  }
  #section1 .navbar h1 {
    margin: 0;
    font-size: 30px;
  }
  #section1 .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: -50%;
  }
  #section1 .navbar ul li {
    margin-right: 40px;
    font-size: 18px;
    position: relative;
  }
  #section1 .navbar ul li:last-child {
    margin-right: 0;
  }
  #section1 .navbar ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
  }
  #section1 .navbar ul li a:before, #section1 .navbar ul li a:after {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease, right 0.3s ease;
    left: 0;
    right: 0;
  }
  #section1 .navbar ul li a:hover:before {
    left: 0;
    width: 50%;
  }
  #section1 .navbar ul li a:hover:after {
    right: 0;
    width: 50%;
  }
  #section1 .navbar ul li a:not(:hover):before {
    left: 100%;
    width: 0;
  }
  #section1 .navbar ul li a:not(:hover):after {
    right: 100%;
    width: 0;
  }
  #section1 .navbar ul:first-child {
    margin-right: auto;
  }
  #section1 .navbar .contact-button {
    background-color: #400c74;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: transform 0.2s ease;
    transition: scale 0.2s ease;
  }
  #section1 .navbar .contact-button:hover {
    scale: 1.1;
  }
  #section1 .main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    padding-top: 70px;
  }
  #section1 .main-content .text-content {
    width: 50%;
    color: #fff;
  }
  #section1 .main-content .text-content h1 {
    font-size: 70px;
    margin-top: 25px;
    margin-bottom: 35px;
  }
  #section1 .main-content .text-content h3 {
    font-size: 30px;
    color: #ddd5d5;
  }
  #section1 .main-content .text-content p {
    font-size: 18px;
    line-height: 1.6;
    border-left: 2px solid white;
    padding-left: 10px;
  }
  #section1 .main-content .image-content {
    position: relative;
    width: 50%;
    transform: scale(0.9);
  }
  #section1 .main-content .image-content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    position: relative;
    z-index: 1;
  }
  #section1 .main-content .image-content .behind-image1,
  #section1 .main-content .image-content .behind-image2 {
    position: absolute;
    top: 0;
    width: 70%;
    height: auto;
    z-index: 0;
    border-radius: 8px;
  }
  #section1 .main-content .image-content .behind-image1 {
    right: -70px;
    bottom: -100px;
    transform: translateY(-25%);
  }
  #section1 .main-content .image-content .behind-image2 {
    left: -70px;
    top: 150px;
    transform: translateY(25%);
  }
  .fixed {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-radius: 0px !important;
    border: 0 0 2px 0 !important;
    border-style: none none solid none !important;
    height: 10vh;
  }
  #skills-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background: linear-gradient(to right, #050208, rgb(107, 6, 90));
  }
  #skills-section .line-container {
    width: 100%;
    height: 2px;
    background-color: black;
    top: 50%; /* Adjust as needed */
    left: 0;
    margin-bottom: 40px;
  }
  #skills-section .line-container .line {
    width: 0;
    height: 3px;
    background-color: wheat; /* Adjust line color */
    transition: width 0.3s ease; /* Smooth transition */
  }
  #skills-section .line-container-2 {
    width: 100%;
    height: 2px;
    background-color: black;
  }
  #skills-section .line-container-2 .line-2 {
    width: 100%;
    height: 100%;
    background-color: wheat; /* Adjust line color */
    transition: width 0.3s ease; /* Smooth transition */
  }
  #skills-section .skills-header {
    width: 80%;
  }
  #skills-section .skills-header h1 {
    display: inline;
    float: left;
    font-size: 80px;
    color: white;
  }
  #skills-section .skills-header .arrow {
    display: inline;
    margin-left: 5%;
    color: white;
    font-size: 100px;
  }
  #skills-section .skills-content {
    margin-top: 2%;
    width: 80%;
    height: 50%;
    padding: 0% 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #skills-section .skills-content .column {
    width: 50%;
    height: 100%;
  }
  #skills-section .skills-content .column .skill {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
  }
  #skills-section .skills-content .column .skill-name {
    display: inline;
    float: left;
    width: 40%;
    font-size: 32px;
    color: wheat;
    font-weight: bold;
  }
  #skills-section .skills-content .column .skill-level {
    display: inline;
    float: right;
    width: 60%;
    /* Define styles for circles */
    /* Style circles with the 'purple' class */
  }
  #skills-section .skills-content .column .skill-level .circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgb(81, 56, 81); /* Default color */
    display: inline-block;
  }
  #skills-section .skills-content .column .skill-level .circle.purple {
    background-color: rgb(225, 17, 225); /* Purple color */
  }
  #section-3 {
    height: 100vh;
    background: linear-gradient(to right, #050208, rgb(107, 6, 90));
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #section-3 .grid-container {
    padding: 5% 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%;
    width: 80%;
    overflow: hidden;
  }
  #section-3 .grid-container .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important; /* Two columns */
    grid-auto-rows: 250px; /* Row height */
    grid-gap: 10px !important; /* Gap between grid items */
    height: 80% !important;
    width: 100%;
  }
  #section-3 .grid-container .grid .item {
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    overflow: hidden;
  }
  #section-3 .grid-container .grid .item img {
    width: 100%;
    height: 100%;
    transition: 0.4s ease;
  }
  #section-3 .grid-container .grid .item img:hover {
    transform: scale(1.2);
    filter: grayscale(100%);
  }
  #section-3 .grid-container .grid .item .overlay-text {
    width: 100%;
    height: 100%;
    background-color: red; /* Adjust background color and opacity as needed */
    color: white;
    text-align: center;
    transition: opacity 0.3s ease;
    z-index: 2;
    display: none;
  }
  #section-3 .grid-container .grid .item .item:hover .overlay-text {
    display: inline-block;
  }
}
.menu-move {
  transform: translateY(-200%);
  z-index: 0;
}/*# sourceMappingURL=style.css.map */